.cuerpo
    
    {
        background-color: rgb(202, 167, 124);}
        /* aprender a hacer degradado */
header,footer
{ 
    background-color:black;
    color:red
    }
.title 
    {
        font-style: italic;
        color:rgb(21, 21, 170)
            }

.negras
    {font-weight: bold;}

    .cursiva{
        font-style: italic;
    }

.fuente{
    font: status-bar;
}